.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #E6D0CE; /* Add an active/current color */
  }

  .form-container {
    border: 1px solid #fff;
    padding: 50px 60px;
    margin-top: 0%;
    -webkit-box-shadow: 7px 13px 36px 23px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 7px 13px 36px 23px rgba(0, 0, 0, 0.68);
    box-shadow: 7px 13px 36px 23px rgba(0, 0, 0, 0.68);
}

.main {
    display: flexbox;   
}

.textIntro {
    
    width: 100%;
    margin-top: -139px;
    
    
}

.containerForm {
    height: 74vh;
}




.content {
    width: 100%;
}

.left {
    padding-left: 0px;
    padding-top: 10px;
    margin-left: -15px;
    float: left;
    position: relative;
    width: 5%;
    height: auto;
}

.right {
    padding-top: 100px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 95%;
    height: auto;
}

.infoGeneral h1{
  font-weight: bold;
}

.productos {
    background-color: #797979   ;
}

.containerRight {
    width: 100%;
    height: 7vh;
}

.containerTab {
    width: 100%;
    height: 86vh;
}

* {
    box-sizing: border-box;
    
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #E6D0CE;
    color: rgb(26, 24, 24);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 75%;
  }
  
  input[type=submit]:hover {
    background-color: #797979;
  }
  
  .container {
    border-radius: 5px;
    background: rgba(121,121,121,0.4);
    padding: 20px;
    width: 100%;
    
    
   
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #E6D0CE;
    border: none;
    color: rgb(26, 24, 24);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .eliminarProducto {
    margin-left: 40%;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }