<!-- <h2>Login de usuario</h2>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
<button class="btn btn-info" (click)="onClick()">Login With Google</button> -->
<div class="container-fluid bg">   
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- Inicio formulario -->
            <form class="form-container" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <h1>Login Becotton</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Direccion de correo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Recordarme
                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-block" value="Enviar">Enviar</button>
            </form>

            <!-- fin formulario -->
        </div>
    </div>
</div>