<div class="container-fluid main">
    <div class="content">
        <div class="left">
            <div class="icon-bar">
                <a class="active" href="#"><i class="fa fa-home"></i></a>
                <a (click)="redirectBuscar()"><i class="fa fa-search"></i></a>
                <a (click)="redirectIngresar()"><i class="fa fa-share-square"></i></a>
                <a (click)="redirectToActualizar()"><i class="fa fa-refresh"></i></a>
                <a href="#"><i class="fa fa-trash"></i></a>
                <a href="" (click)="onClick()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="right">
            <div class="row textIntro" >
            <div class="col-md-8 col-sm-4 col-xs-12 infoGeneral"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Inicio menu -->
                <form class="form-container infoGeneral">
                    <h1>Sistema de inventario Becotton</h1>
                    <p>En este espacio encontrarás las diferentes formas para administrar
                        el inventario de nuestra empresa, la presición y el buen manejo
                        de los datos del inventario nos ayudan a alivianar el trabajo de 
                        cada colaborador. Da buen uso de este!.
                    </p>
                    <div class="form-group">
                       
                    </div>
                    
                </form>
               
                <!-- fin menu -->
            </div>
        </div>
    </div></div>
    </div>
    
    
